/*!
 * Stylesheet for index.html in JCrew_InternProject
 */

body {
    width: 100%;
    height: 100%;
    font-family: "Playfair Display", sans-serif;
    font-size: 25px;
    color: #000;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-container {
    margin: 20px;
}
.border {
    min-height:100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: contain;
    background-size: cover;
    -o-background-size: cover;
    background-color: rgb(198,192,185);
}
.padding {
    padding-top: 20px;
}
.center {
    text-align: center;
}
/* Alignment issues on diff devices */
.form-horizontal .control-label {
    padding-top: 7px;
    padding-left: 1px;
}
.btn {
    color: whitesmoke;
    background-color: rgb(198,192,185);
    font-size: 50px;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn-primary {
    color: black;
    background-color: rgb(198,192,185);
    border-color: #285e8e; /*set the color you want here*/
}

#storeclear {
    position: absolute;
    right: 30px;
    top: 15px;
    height: 20px;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    z-index: 10px;
}

#skuclear {
    position: absolute;
    right: 30px;
    top: 15px;
    height: 20px;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    z-index: 10px;
}

#styleclear {
    position: absolute;
    right: 30px;
    top: 15px;
    height: 20px;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    z-index: 10px;
}