/*!
 * Stylesheet for index.html in JCrew_InternProject_Presentation
 */

body {
    width: 100%;
    height: 100%;
    
    font-family: 'Playfair Display', serif;
    font-family: 'Open Sans', sans-serif;
}
html {
    width: 100%;
    height: 100%;
}
h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 50px;
}
h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}
h3 {
    font-family: "Playfair Display", sans-serif;
    font-size: 15px;
}
h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
h5 {
    font-family: "Playfair Display", sans-serif;
    font-size: 15px;
    text-align: left;
}
h6 {
    font-family: "Playfair Display", sans-serif;
    font-size: 100%;
}
hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.text-muted {
    color: #777777;
    font-weight: lighter;
}
.padding {
    padding-top: 100px;
}
.padding-sm {
    padding-top: 20px;
}
.center {
    text-align: center;
    align-content: center;
}
@media screen and (max-width:768px){
    h1 {
        color: white;
        font-size: 35px !important;
    }  
    
    h3 {
        color: white;
    }
    
    .full {
        background-image: url('../images/mobileBG.jpg');
        min-height:100%;
        -webkit-background-size: 100% 100%;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}
@media screen and (min-width:768px){
    h1 {
        color: black;
        font-size: 50px !important;
    }
    
    .full {
        background-image: url('../images/Project_LandingPage3.jpg');
        min-height:100%;
        -webkit-background-size: 100% 100%;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

/* SECTIONS
The padding is very important -- adjust margin and padding of sections and children to manage. */

.link-section {
    height:100%;
    padding-top: 100px;
    text-align: center;
    background: #fff;
}

.intro-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
}

.problem-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width:768px){
    .timeline > li {
        max-height: 50px;
    }
    .timeline > h1 {
        font-family: "Playfair Display", sans-serif;
        font-size: 18px;
    }
    .nextsteps-section {
    padding-top: 50px;
    text-align: center;
    background: #fff;
}
    
    .mobilepos-section {
    padding-top: 50px;
    text-align: center;
    background: #fff;
}
    mobilepos2-section {
    padding-top: 50px;
    text-align: center;
    background: #fff;
}
    .why {
        padding-top: 6000px;
    }
  
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}


.oldlookup-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.solution-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.implement-section .implement2-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.nextsteps-section .nextsteps2-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.pospic-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.mobilepos-section .mobilepos3-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

mobilepos2-section .mobilepos4-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
    color: black;
    align-content: center;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-size: 15px;  
}
.team-member p {
    margin-top: 0;
    font-weight: lighter;
    
}
.btn {
    outline: white;
    background: none;
}